* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --theme-color: white;
    --primary-color: #8E7BEF;
    --secundary-color: #F7C331;
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: #3a4460;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 70px;

}

a {
    text-decoration: none;
    color: var(--text-color)
}


.header {
    background-color: rgb(255, 255, 255);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    max-width: 992px;
    margin: 0 auto;

}

.nav-link {
    color: #000000;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: none;
    width: max-content;
    color: #423F40;
}

.nav-menu-link {
    padding: 8px;
    border-radius: 3px;
    text-decoration: none;
    color: #222222;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    background-color: #5D3BEF ;
    color:rgb(255, 255, 255);
    transition: 0.5s;
}

.nav-toggle {
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}


body {
    font-family: Montserrat;
    font-size: 16px;
    padding: 90px 20px 0;
}

.flex-container {
    display: flex;
}

/* @Media Query para mobile*/

@media (max-width: 768px) {
    body {
        font-family: Montserrat;
        padding-top: 70px;
    }

    .header {
        background-color: rgb(255, 255, 255);
        height: 60px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #423F40;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 70px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none ;
        color: #5D3BEF;
        transition: left 0.5s;
        text-decoration: underline;
    }

    .nav-menu-link {
        padding: 8px;
        border-radius: 3px;
        text-decoration:none  ;
        color: white;
    }

    .nav-toggle {
        display: block;
        justify-content: left;
    }

    .nav-menu_visible {
        left: 0;
    }
}

/* PROFILE */


.profile-info{
    margin-top: 25px;
    margin-bottom: 35px;
}

.profile-img {
    width: 80%;
    max-width: 300px;
    
}

.profile {
    text-align: center;
}

.profile-title {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
    text-align: left;
}

.profile-details {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    max-width: 450px;
    margin: 20px, auto;
    margin-bottom: 20px;
    text-align: left;
}

.profile-btn {
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
    border: none;
    font-size: 20px;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

.profile-btn:hover {
    filter: brightness(130%);
}

.icon-container {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #8E7BEF;
    border-radius: 50%;
    line-height: 3.2;
    text-align: center;
    margin: 5px;    
    color: white;
}

@media (min-width: 950px) {

    .profile-info{
        margin-bottom: 0px;
    }
    
    .profile-img {
        width: 100%;
        max-width: 350px;
    }
    
    .profile {
        text-align: left;
        display: flex;
        flex-direction: row-reverse;
        justify-content:space-between;
        max-width: 980px;
        margin: 0 auto;
    }
    
    .profile-title {
        font-size: 60px;
    }
    
    .profile-details {
        font-size: 25px;
        margin: 30px, 0;
    }
    
    .profile-btn {
        font-size: 28px;
    }
    
    .profile-btn:hover {
        filter: brightness(130%);
    }
}